*{
    padding: 0;
    margin: 0;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*Header*/

.home {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    background-color: #ffffff;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.home > .container {
    display: flex;
    flex-direction: column;
    width: 940px;
    max-width: 100%;
    margin: 0 auto;

}

.header {
    display: flex;
    justify-content: space-around;
    
}


.logo {
    font-size: 26px;
    font-family: 'wisdom_scriptregular';
    padding-top: 44px;

}

.logo > a {
    text-decoration: none;    
    color: #e3bb36;
}

.logo > a:active {
    text-decoration: none;
    color: #e3bb36;
}

.logo > a:visited {
    text-decoration: none;
    color: #e3bb36;
}

.navigation {
    font-size: 14px;
    padding-top: 55px;
    
}

.navigation > a {
    text-decoration: none;
    font-family: 'montserratregular';
    font-size: 14px;
    color: #fff;
    font-weight: normal;
    padding: 0 22px;
}

.navigation > a:active {
    text-decoration: none;
    font-family: 'montserratregular';
    font-size: 14px;
}

.navigation > a:visited {
    text-decoration: none;
    font-family: 'montserratregular';
    font-size: 14px;
}

.title {
    padding-top: 215px;
}

.title_header h3 {
    font-family:'droid_serifitalic';
    font-size: 40px;
    color: #fff;
    text-align: center;
    font-weight: normal;
}

.title_desc h2 {
    font-size: 75px;
    font-family: 'montserratbold';
    color: #fff;
    text-align: center;
    font-weight: normal;
    padding-top: 53px;
}

.btn {
    display: flex;
    justify-content: center;
    padding-top: 61px;
    padding-bottom: 162px;
}

.btn > button {
    width: 240px;
    height: 65px;
    background: #fed136;
    font-size: 18px;
    border: none;
    border-radius: 2px;
    outline: none;
}

/*Header/*/
.comtainer_two{
    text-align: center;
    padding-bottom: 108px;
}
.comtainer_two_pro{
    padding-top: 1px;
    text-align: center;
    background-color: #f7f7f7;
}
.container{
    width: 940px;
    max-width: 100%;
    margin: 0 auto;
}

.header_blok{
    display: block;
    margin-top: 116px;
    width: 100%;
    text-align: center;
}
.content_element{
    font-family: 'montserratbold';
    font-size: 16px;
    margin: 10px;
}
.content_element_item{
    font-family: 'droid_serifitalic';
}
#services, .blok_title {
    font-size: 32px;
    text-transform: uppercase;
    font-family: 'montserratbold';
}
.service_blok{
    display: flex;
    padding-top: 67px;
}
.service_blok_item{
    padding: 0 2px;
    font-family: 'roboto_slabregular';
    margin: 7px;
    color: #777777;
    font-size: 14px;
    line-height: 1.5;
}
.content{
    display: flex;
    flex-wrap: wrap;
}
.content_item{
    width: 33.33%; 
}
body{
    font-family: 'montserratregular';
}
.blok_desc{
    display: block;
    padding-top: 10px;
    color: #777777;
    font-family: 'droid_serifitalic';
}
.service_blok_item > h4 {
    display: block;
    margin: 10px;
    font-family: 'montserratbold';
    font-weight: normal;
    color: #222222;
}
.about{
   max-width: 940px;
   width: 100%;
   margin: 0 auto;
}
.about_list{
    display: flex;
    flex-direction: column;

}

.about_list .about_item{
    display: flex;
    justify-content: flex-start;
}
.about_list_right .about_item{
    justify-content: flex-end;
}
.about_item_list_area {
    width: 581px;
    display: flex;
    flex-flow: row nowrap;
}
.about_list_right .about_item_list_area {
    flex-flow: row-reverse nowrap;
}
.about_list_center .about_item {
    justify-content: center;
}
.about_list_center .about_item_list_area {
    width: auto;
}
.about_center{
    align-items: center;
}
.content_widht {
    padding-top: 45px;
    padding-top: 60px;
}
#text-left{
    text-align: right;
}
.about_item_list_area>img{
    margin: 18px;
}

.progress-scroll {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 7px;
    background: #ccc;
}
.progress-scroll__inner {
    width: 0;
    height: 7px;
    background: #0d95e8;
}

/*Modal*/
    .modal-wnd {
        display: none;
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.6);
    }
    .modal-wnd__inwrap {
        position: relative;
        min-height: 100%;
        
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    
        justify-content: center;
        align-items: center;
    }
    
    .modal-wnd__body {
        position: relative;
        width: 800px;
        padding: 100px;
        background: #222222 url(../img/moda-bg.png) no-repeat top right;
        background-size: contain;
        color: #777777;
        text-align: center;
    }
    .modal-wnd__title {
        font-family: 'montserratbold';
        font-size: 40px;
        color: #ffffff;
        text-transform: uppercase;
    }
    .modal-wnd__desc {
        padding-top: 11px;
        margin-bottom: 30px;
        font-family: 'droid_serifitalic';
        font-size: 16px;
    }
    
    .form-modal__input {
        width: 100%;
        padding: 18px 20px 14px;
        background: #fff;
        border: 2px solid #ccc;
        outline: none;
    
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }
    .form-modal__input.error {
        border-color: red;
    }
    
    .thanks_msg {
        display: none;
        padding-top: 20px;
        font-family: 'montserratbold';
        font-size: 14px;
        color: #ffffff;
        text-align: center;
        text-transform: uppercase;
    }
    
    /*Placeholder*/
        ::-webkit-input-placeholder{
            font-family: 'montserratbold';
            font-size: 14px;
            color: #bbbbbb;
            text-transform: uppercase;
        }
        ::-moz-placeholder{
            font-family: 'montserratbold';
            font-size: 14px;
            color: #bbbbbb;
            text-transform: uppercase;
        }
        :-moz-placeholder{
            font-family: 'montserratbold';
            font-size: 14px;
            color: #bbbbbb;
            text-transform: uppercase;
        }
        :-ms-input-placeholder{
            font-family: 'montserratbold';
            font-size: 14px;
            color: #bbbbbb;
            text-transform: uppercase;
        }
    /*Placeholder/ */
    
    /*Button*/
        .form-modal__field-btn {
            padding-top: 30px;
        }
        .form-modal__field-btn button {
            padding: 24px 47px;
            background: rgba(254, 209, 54, 1.0);
            border: none;
            outline: none;
            font-family: 'montserratbold';
            font-size: 18px;
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            cursor: pointer;
    
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
        .form-modal__field-btn button:hover {
            background: rgba(254, 209, 54, 0.9);
        }
    /*Button/ */

    .modal-wnd__close {
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .modal-wnd__close i {
        font-size: 26px;
        color: #ffffff;
        cursor: pointer;
    
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .modal-wnd__close i:hover {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
    
    /*Validate*/
        input.error + .error {
            display: block;
            padding-top: 8px;
            font-family: 'montserratregular';
            font-size: 13px;
            color: #fff;
            font-weight: normal;
            text-align: left;
        }
    /*Validate/ */
/*Modal/ */

/*Fonts
    font-family: 'montserratregular';
    font-family: 'montserratbold';
    
    font-family: 'droid_serifitalic';
    font-family: 'roboto_slabregular';
    font-family: 'wisdom_scriptregular';
    font-family: 'FontAwesome';
*/
