* {
    padding: 0;
    margin: 0;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*General/*/



/*Header*/

 .home {
     width: 1400px;
     max-width: 100%;
     height: 700px;
     max-height: 100%;
     background-color: #ffffff;
     background-image: url(../img/bg.png);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
 }

/*Header/*/